* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#cabecera {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 80px;
  font-family: "Righteous", cursive;
  color: white;
  text-shadow: blue 2px 2px 5px;
  background-color: black;
  background: linear-gradient(10deg, gray, black);
  border-radius: 10px;
  padding: 1px;
  margin-left: 1%;
  margin-bottom: 1%;
}

#bola {
  width: 10%;
  height: 10%;
  margin-right: 1%;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

ul:hover {
  text-decoration: underline;
}

#art-menu {
  display: flex;
}

#barra-menu {
  display: flex;
  justify-content: center;
  background-color: rgb(43, 177, 43);
  font-family: "Righteous", cursive;
  font-size: 20px;
  color: white;
  padding: 1%;
  border-radius: 10px;
  border-style: solid;
  border-color: goldenrod;
}

ul {
  display: flex;
  margin-right: 20%;
}

#menu {
  display: flex;
  margin-right: 10%;
}

#agrupar {
  width: 100%;
  height: 100%;
  justify-content: center;
  padding: 1%;
}

#contenedor-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: oldlace;
  width: 95%;
  margin-left: 1%;
}

h1 {
  font-family: "Bungee Inline", cursive;
  font-size: 50px;
  color: black;
  display: flex;
  justify-content: center;
}

.medidas {
  width: 98%;
  height: 90%;
  border-radius: 10px;
  margin-left: 1%;
  margin-top: 1%;
  border-color: goldenrod;
  border-style: solid;
}

#seccion {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#seccion-uno {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 80%;
}

.container-modulo {
  display: flex;
  background-color: oldlace;
  max-width: 100%;
  justify-content: center;
}

#articulos {
  padding: 1px;
}

.box {
  margin-top: 1rem;
  margin-bottom: 5rem;
  margin-right: 1rem;
  margin-left: 1rem;
  width: 260px;
  height: 500px;
  background-color: rgb(43, 177, 43);
  text-align: center;
  max-width: 100%;
  border-radius: 20px;
  border-style: solid;
  border-color: goldenrod;
}

#btn-ver,
#btn-ver2,
#btn-ver3,
#btn-ver4 {
  background-color: chocolate;
  width: 100px;
  margin-left: 30%;
  border-radius: 10px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color: white;
  font-weight: bold;
}

p {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

#img1,
#img2,
#img3,
#img4 {
  width: 70%;
  height: 50%;
}

#img5 {
  width: 100%;
  height: 80%;
  margin-left: 1%;
  padding: 5%;
  margin-bottom: 1%;
}

#articulo2 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-bottom: 2%;
}

#seccion2 {
  display: flex;
  flex-direction: column;
}

#contenedor3 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}

#art4 {
  text-align: center;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  font-family: "Righteous", cursive;
  font-size: 20px;
  padding-top: 1%;
  background-color: mediumpurple;
  width: 90%;
  height: 30%;
  border-radius: 10px;
  margin-left: 5%;
  border-color: goldenrod;
  border-style: solid;
}

#parrafo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: white;
  margin-top: 1%;
  margin-right: 4%;
  margin-bottom: 3%;
}

#acerca {
  display: flex;
  flex-direction: row;
}

#columna-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  margin-left: 1%;
  border-radius: 10px;
  flex-direction: column;
}

#columna {
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  padding: 7.3%;
  background-color: greenyellow;
  border-radius: 10px;
  margin-bottom: 15%;
  border-color: goldenrod;
  border-style: solid;
}

#miFormulario {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
}

#campo,
#campo1,
#campo2,
#boton,
#text {
  border-color: goldenrod;
  border-width: 3px;
  border-radius: 5px;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

#boton {
  background-color: green;
  width: 50%;
  margin-left: 25%;
  margin-top: 3%;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#pie {
  background-color: rgb(43, 177, 43);
  width: 95%;
  padding: 2%;
  margin-left: 1%;
}

#derechos {
  margin-left: 40%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.modulo1:hover,
.modulo2:hover,
.modulo3:hover,
.modulo4:hover,
.box:hover {
  background-color: greenyellow;
  box-shadow: 0 50px 100px rgba(0, 0, 0, 0.02);
  transform: scale(0.95);
}
